<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>students</servlet-name>
        <servlet-class>students</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffs</servlet-name>
        <servlet-class>staffs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_student</servlet-name>
        <servlet-class>delete_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_staff</servlet-name>
        <servlet-class>delete_staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_room</servlet-name>
        <servlet-class>delete_room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exams</servlet-name>
        <servlet-class>exams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_exam</servlet-name>
        <servlet-class>delete_exam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>send_msg</servlet-name>
        <servlet-class>send_msg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_otp</servlet-name>
        <servlet-class>get_otp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>students</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffs</servlet-name>
        <url-pattern>/staffs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_student</servlet-name>
        <url-pattern>/delete_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_staff</servlet-name>
        <url-pattern>/delete_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_room</servlet-name>
        <url-pattern>/delete_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exams</servlet-name>
        <url-pattern>/exams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_exam</servlet-name>
        <url-pattern>/delete_exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>send_msg</servlet-name>
        <url-pattern>/send_msg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_otp</servlet-name>
        <url-pattern>/get_otp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
